.cypher {
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  background-color: lightslategray;
}

.cypherTitle {
  margin: 5px;
  font-weight: bold;
}

.cypherRow {
  display: flex;
}

.cypherRowItem {
  flex-grow: 1;
  flex-basis: 0;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.cypherIndex {
  background-color: lightgray;
}
.cypherWord {
  background-color: lightgray;
}
