.guessSub {
  margin: 5px;
  padding: 4px 10px;
  border-radius: 3px;
  background-color: lightgray;
  flex-grow: 1;
  text-align: center;
}

.guessSubRow {
  display: flex;
  align-items: center;
}

.guessSubCode {
  margin: 5px;
  padding: 4px 10px;
  border-radius: 3px;
  background-color: white;
  text-align: center;
}
